


 .aipopmenu_backdiv{background-color: #D8D8D0; border-left: 2 solid #ffffff;border-right: 2 solid #000000; border-top: 2 solid #ffffff; border-bottom: 2 solid #000000 }
 .aipopmenu_menu{padding-left:16;padding-top:2;padding-bottom:2;font-family:ו, Book Antiqua, Times New Roman, Times; font-size: 9pt;}
.aipopmenu_overmenu{padding-left:16;padding-top:2;padding-bottom:2;background-color:highlight;color:highlighttext;font-family:ו, Book Antiqua, Times New Roman, Times; font-size: 9pt;}
.aipopmenu_sepa{width:100%;border: 1px inset #f0f0f0}
.aipopmenu_disablemenutext{color:#c0c0c0;}