<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>html</display-name>
 <context-param>
  <param-name>MONITOR_PERSISTENCE</param-name>
  <param-value>30</param-value>
  <description>monitor permanence period(min unit)</description>
 </context-param>
 <!-- 单点登录-->
 <filter>
  <filter-name>SingleFilter</filter-name>
  <filter-class>com.ai.filter.LoginFilter</filter-class>
 </filter>

 <filter>
  <filter-name>AppframeFrontFilter</filter-name>
  <filter-class>com.ai.appframe2.web.filter.LoginFilter</filter-class>
 </filter>
 <filter>
  <filter-name>ExpireResponseHeaderFilter</filter-name>
  <filter-class>com.ai.appframe2.web.filter.expire.ExpireResponseHeaderFilter</filter-class>
 </filter>
 <filter>
  <filter-name>URLFilter</filter-name>
  <filter-class>com.ai.appframe2.monitor.URLFilter</filter-class>
 </filter>
 
 <filter-mapping>
  <filter-name>URLFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
  <filter-mapping>
  <filter-name>SingleFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AppframeFrontFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>ExpireResponseHeaderFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>com.ai.appframe2.web.BaseListenerServer</listener-class>
 </listener>
 
 
 <!--启动OA数据同步接口 2010-06-09 张冰 没有上线时请关闭掉
<listener>	
  	<listener-class>com.asiainfo.alm.web.listener.OADateSyncListener</listener-class>
  </listener>
启动上报集团CAPSE指标数据 2011-04-11 张冰 没有上线时请关闭掉
<listener>	
  	<listener-class>com.asiainfo.alm.web.listener.CapseListener</listener-class>
  </listener>
启动排期状态定时更新 2011-04-11 张冰 没有上线时请关闭掉
<listener>	
  	<listener-class>com.asiainfo.alm.web.listener.VerPlanListener</listener-class>
  </listener>
 
   <listener>
      <listener-class>com.asiainfo.alm.service.impl.req.InitParamListener</listener-class>
    </listener>
   
 Lucene定时监听器 配置 2010-4-9 wangzg 
   <listener>
     <listener-class>com.asiainfo.alm.service.impl.query.LuceneIndexListener</listener-class>
  </listener>
  
 webservice 配置 2010-3-17 zhangbing -->
 <servlet>
  <servlet-name>AxisServlet</servlet-name>
  <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AdminServlet</servlet-name>
  <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
  <load-on-startup>100</load-on-startup>
 </servlet>
 <!-- webservice 配置 2010-3-17 zhangbing -->
 <servlet>
  <servlet-name>ListDataSoureQuery</servlet-name>
  <servlet-class>com.ai.appframe2.web.ListDataSoureQuery</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletIniter</servlet-name>
  <servlet-class>com.ai.appframe2.web.ServletIniter</servlet-class>
  <init-param>
   <param-name>TempPath</param-name>
   <param-value>/WEB-INF/template</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>baseserver</servlet-name>
  <servlet-class>com.ai.appframe2.web.BaseServer</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>gridturnpage</servlet-name>
  <servlet-class>com.ai.appframe2.web.tag.GridTurnpage</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>gridturnpage1</servlet-name>
  <servlet-class>com.asiainfo.aialmJT.common.web.gridturnpage1</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>dbformrefresh</servlet-name>
  <servlet-class>com.ai.appframe2.web.tag.DBFormRefresh</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>dbtreerefresh</servlet-name>
  <servlet-class>com.ai.appframe2.web.tag.DBTreeRefreshServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>dbtreenewservlet</servlet-name>
  <servlet-class>com.ai.appframe2.web.tag.dbtree.DBTreeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CentralControl</servlet-name>
  <servlet-class>com.ai.appframe2.web.action.CentralControlServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletUpload</servlet-name>
  <servlet-class>com.ai.frame.attach.ServletUpload</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>vertifycodeservlet</servlet-name>
  <servlet-class>com.ai.frame.loginmgr.webaction.VertifyCodeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>VerifyCodeLoginServlet</servlet-name>
  <servlet-class>com.ai.appframe2.web.filter.VerifyCodeLoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServiceServlet</servlet-name>
  <servlet-class>com.ai.appframe2.service.proxy.ServiceServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>crossgridaction</servlet-name>
  <servlet-class>com.ai.appframe2.analyse.web.CrossGricAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>WebJSServlet</servlet-name>
  <servlet-class>com.ai.appframe2.monitor.WebJSServlet</servlet-class>
 </servlet>
 <servlet>
  	<servlet-name>fileDownload</servlet-name>
  	<servlet-class>com.asiainfo.csc.attach.web.FileDownAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>templateDown</servlet-name>
  	<servlet-class>com.asiainfo.csc.templateWorkflow.web.TemplateDown</servlet-class>
  </servlet>
 <servlet>
  <servlet-name>debugjsp</servlet-name>
  <description>Added to compile JSPs with debug info</description>
  <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
  <init-param>
   <param-name>classdebuginfo</param-name>
   <param-value>true</param-value>
  </init-param>
  <load-on-startup>3</load-on-startup>
 </servlet>
 <servlet>
 	<servlet-name>importStaffServlet</servlet-name>
 	<servlet-class>com.ai.secframe.web.ImportStaffServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>importStaffServlet</servlet-name>
 	<url-pattern>/importStaffServlet</url-pattern>
 </servlet-mapping>
 <!-- webservice 配置 2010-3-17 zhangbing -->
 <servlet-mapping>
  	<servlet-name>templateDown</servlet-name>
  	<url-pattern>/templateDown</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  	<servlet-name>fileDownload</servlet-name>
  	<url-pattern>/fileDownload</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/servlet/AxisServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>*.jws</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/services/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AdminServlet</servlet-name>
  <url-pattern>/servlet/AdminServlet</url-pattern>
 </servlet-mapping>
 <!-- webservice 配置 2010-3-17 zhangbing -->
 <servlet-mapping>
  <servlet-name>WebJSServlet</servlet-name>
  <url-pattern>/WebJSServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServiceServlet</servlet-name>
  <url-pattern>/ServiceServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>crossgridaction</servlet-name>
  <url-pattern>/crossgridaction</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CentralControl</servlet-name>
  <url-pattern>/business/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>baseserver</servlet-name>
  <url-pattern>/baseserver</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ListDataSoureQuery</servlet-name>
  <url-pattern>/listdatasourcequery</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>gridturnpage</servlet-name>
  <url-pattern>/gridturnpage</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>gridturnpage1</servlet-name>
  <url-pattern>/gridturnpage1</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dbformrefresh</servlet-name>
  <url-pattern>/dbformrefresh</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dbtreerefresh</servlet-name>
  <url-pattern>/dbtreerefresh</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>VerifyCodeLoginServlet</servlet-name>
  <url-pattern>/VerifyCodeLoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dbtreenewservlet</servlet-name>
  <url-pattern>/dbtreenewservlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletUpload</servlet-name>
  <url-pattern>/ServletUpload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>vertifycodeservlet</servlet-name>
  <url-pattern>/vertifycodeservlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>debugjsp</servlet-name>
  <url-pattern>*.jsp</url-pattern>
 </servlet-mapping>
 <mime-mapping>
  <extension>doc</extension>
  <mime-type>application/msword</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>htc</extension>
  <mime-type>text/x-component</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>pdf</extension>
  <mime-type>application/pdf</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>ppt</extension>
  <mime-type>application/vnd.ms-powerpoint</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>xls</extension>
  <mime-type>application/msexcel</mime-type>
 </mime-mapping>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
